
.contador{
    text-align: center;
    margin:200px;
    margin-top: 1px;
    background-color: black;
    border-width: 20px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
}

.contador div{
    display: inline-block;
    width: 150px;
    color: greenyellow;
    font-size: 200px;
    line-height: 110px;
}

.digClock{
    margin-right: 40px;
}